---
layout: page
refactor: true
# homepage
---

<div>
  <h1 class="hello-text">Hello</h1>
</div>

<div class="text-container">
  <p>I <span class="typed-text"></span><span class="cursor">&nbsp;</span></p>
</div>

<div class="desc-text">
  I’m a Full Stack Application Developer at
  <span style="font-weight: bolder">IBM</span>, focused on building web
  applications.
  With expertise in both front-end and back-end technologies, I enjoy solving
  complex problems and creating seamless user experiences. 
  I work with NLP models in IBM Watson and familiar with AI technologies and
  chatbots. <br> <br>
  Let’s connect!
</div>

<button type="button" class="btn btn-primary resume-btn">Resume</button>

<script src="/assets/js/data/customMv.js"></script>
